<a href="https://colab.research.google.com/github/hectoresc/MineriaDeDatos/blob/main/ej_python_1745909.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

·Tarea 1
··Ejercicios google colab

Ejercicio1

In [ ]:
mat = int(input("Introduce tu matricula:" ))
nombre= (input("Introduce tu nombre : "))

print ("", mat,nombre )

Introduce tu matricula:1745909

·Ejercicio 2
····Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
print("Ingrese un numero")
n1=float(input())
print("Ingrese otro segundo numero")
n2=float(input())
suma=n1+n2
resta=n1-n2
div=n1/n2
mult=n1*n2
exp=n1**n2
print("La suma de los numeros", n1 ,"y",n2, "es ", suma)
print("La resta de los numeros",n1 ,"y", n2, "es:", resta)
print("La multiplicacion de los numeros", n1 ,"y",n2, "es :" , mult)
print("La division de los numeros", n1 ,"entre",n2, "es: ", div)
print("El exponente del numero ",n1, "elevada al numero ",n1, "es: ", exp )

·Ejercicio 3
··Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [1]:
#EJERCICIO_3
aux = 0
for i in range(1,31):
    s = i%3
    if s==0:
        print(i)
        aux = i + aux

print("La suma de los múltiplos de 3 es: %d" %(aux))

3
6
9
12
15
18
21
24
27
30
La suma de los múltiplos de 3 es: 165

·Ejercicio 4
··Con una función de if else, revisar si un número es par o es impar.
··Con una función de if else, revisar si un número es primo o no.

In [27]:
print("Ingrese un numero")
a=float(input())

if a%2==0:
  print("El numero ",a, "es par")
else:
  print("El numero ", a ,"es impar")

Ingrese un numero
7
El numero  7.0 es impar

·Ejercicio 5(No me salio)
··Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
print("ingrre")
a=float(input())
print("inhte")
b=float(input())


suma=a+b
resta=a-b
multi=a*b
div=a/b
e=a**b

·Tuplas Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

Añadir 3 valores de string a la tupla.

Verificar si una variable existe dentro de la tupla.

In [48]:
a=float(input())
b=int(input())
c= 1<23
d=complex(input())
print(type(a))
print(type(b))
print(type(d))
print(type(c))

ent = (40,21,45,36,87)
print(ent[0], ent[-1])
ent = (40, 'Hola', 21, 45, 'Que', 36, 87, 'Haces')
print('Hola' in ent)

7
8
5
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'bool'>
40 87
True

·LISTAS
··Crear una lista con 40 elementos aleatorios enteros.

··Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

··Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

··Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

··Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [50]:
import random as r
lista = range(1,100)
a = (r.sample(lista,40))
print(a)
def impar(a):
    lis=[]
    for x in range(len(a)):
        if a[x]%2:
            lis.append(a[x])
    return lis

def par(a):
    li=[]
    for x in range(len(a)):
        b= a[x]%2
        if b==0:
            li.append(a[x])
    return li

listaimp= impar(a)
listapar= par(a)
listaimp.sort()
listapar.sort(reverse=True)
print(listaimp)
print(listapar)

[76, 82, 69, 93, 40, 87, 36, 4, 78, 5, 98, 88, 37, 48, 80, 23, 27, 46, 77, 68, 44, 70, 75, 53, 11, 1, 38, 9, 7, 58, 10, 24, 29, 74, 16, 32, 57, 51, 3, 12]
[1, 3, 5, 7, 9, 11, 23, 27, 29, 37, 51, 53, 57, 69, 75, 77, 87, 93]
[98, 88, 82, 80, 78, 76, 74, 70, 68, 58, 48, 46, 44, 40, 38, 36, 32, 24, 16, 12, 10, 4]

·Diccionarios(No me deja agregar cosas al diccionario)
··Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

··Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

··Usando el diccionario y un loop, imprimir solo los nombres.

··Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [61]:
diccionario = {'Nombre': ['antonio ','paola','milton','jesus','luis','valeria'], 'Edad':[20,22,21,24,25,26]}
lista = diccionario['Edad']
diccionario ['jorge']=92
diccionario ['ramiro']=78

lista.sort()
print(lista)

for x in range(len(diccionario['Nombre'])):
    print(diccionario['Nombre'][x])

[20, 21, 22, 24, 25, 26]
antonio
paola
milton
jesus
luis
valeria

·Sets
··Crea un set con 100 numeros aleatorios enteros del 1 al 25.

··Comprueba la longitud de tu set.

··Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial

In [62]:
import random as r
s1 = set()
i=0
while i < 100:
    s1.add(r.randint(1,25))
    i = i+1
print(s1)
len(s1)
print("La longitud del set es de ", len(s1))

b = range(1,11)
lista = (r.sample(b,5))
print(lista)

for x in range(len(lista)):
    print(x+1 in s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25}
La longitud del set es de  24
[10, 8, 6, 1, 9]
True
True
True
True
True